@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

/* language start */
.language {
    margin: 50px;
}

.name-langauge {
    text-align: center;
    font-size: 2vw;
    margin-top: 50px;
}

/* language end */


/* work start */

.container-work {
    margin: 50px;
    font-size: 45px;
}

.container-work h1 {
    text-align: center;
}

.timeline-body p {
    font-size: 15px;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 1px;
    background-color: #d4d4d4;
    left: 50%;
    margin-left: 0px;
}

@media screen and (max-width: 480px) {
    .timeline:before {
        margin-left: -64px;
    }
}

.timeline>li {
    margin-bottom: 20px;
    position: relative;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li>.timeline-panel {
    width: 40%;
    float: left;
    border: 1px solid #d4d4d4;
    padding: 30px;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

.timeline>li>.timeline-panel:before {
    position: absolute;
    top: 80px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline>li>.timeline-panel:after {
    position: absolute;
    top: 81px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

@media screen and (max-width: 480px) {
    .timeline>li>.timeline-panel {
        width: 75% !important;
    }

    .timeline>li>.timeline-panel:before {
        top: 30px;
    }

    .timeline>li>.timeline-panel:after {
        top: 31px;
    }
}

.timeline>li>.timeline-badge {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    width: 160px;
    height: 160px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    background-color: #999999;
    z-index: 100;
    border-radius: 50%;
}


@media screen and (max-width: 480px) {
    .timeline>li>.timeline-badge {
        width: 60px;
        height: 60px;
        margin-left: -20px !important;
    }
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-title {
    margin-top: 0;
}

.date {
    display: block;
    margin-bottom: 20px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.timeline-body>p,
.timeline-body>ul {
    margin-bottom: 0;
}

.timeline-body>p+p {
    margin-top: 5px;
}

@media (max-width: 992px) {
    ul.timeline:before {
        left: 90px;
    }

    ul.timeline>li>.timeline-panel {
        width: calc(100% - 200px);
        width: -moz-calc(100% - 200px);
        width: -webkit-calc(100% - 200px);
    }

    ul.timeline>li>.timeline-badge {
        left: 90px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline>li>.timeline-panel {
        float: right;
    }

    ul.timeline>li>.timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    ul.timeline>li>.timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}

/* work end */

/* sertifikat start */

.container-sertifikat {
    padding-top: 20px;
}

.judul-sertifikat {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.cta {
    --shadowColor: 187 60% 40%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    background: hsl(187 40% 98%);
    padding-top: 50px;
    max-width: 30rem;
}

.img-sertifikat {
    display: block;
    width: 100%;
    object-fit: contain;
}

.sertifikat-Judul {
    margin: 0;
    font-size: 1.4rem;
}

@media (min-width: 50em) {
    .sertifikat-Judul {
        font-size: 1.8rem;
    }
}

.cta {
    --shadowColor: 187 60% 40%;
    display: flex;
    flex-wrap: wrap;
    background: hsl(187 70% 85%);
    max-width: 50rem;
    width: 100%;
    box-shadow: 0.65rem 0.65rem 0 hsl(var(--shadowColor) / 1);
    border-radius: 0.8rem;
    overflow: hidden;
    border: 0.5rem solid;
    margin-top: 25px;
}

.cta img {
    object-fit: cover;
    flex: 1 1 300px;
    outline: 0.5rem solid;
}

.cta__text-column {
    padding: min(2rem, 5vw) min(2rem, 5vw) min(2.5rem, 5vw);
    flex: 1 0 50%;
}

.cta__text-column>*+* {
    margin: min(1.5rem, 2.5vw) 0 0 0;
}

@media screen and (max-width: 768px) {
    .container-sertifikat {
        width: 96%;
    }

    .col-12 {
        padding-top: 25px;
    }
}

.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media screen and (max-width: 1200px) {
    .row {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .row {
        grid-template-columns: 1fr;
    }
}

.button-54 {
    background-color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 25px;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

@media (min-width: 768px) {
    .button-54 {
        padding: 0.25em 0.75em;
    }
}


/* sertifikat end */

/* Contact Mulai */

.container-contact {
    padding-top: 50px;
}

.judul-contact {
    text-align: center;
}

.container-form {
    width: 50%;
}

@media screen and (max-width: 650px) {
    .container-form {
        width: 90%;
    }
}


@media (min-width: 768px) {
    .button-54 {
        padding: 0.25em 0.75em;
    }
}

/* Contact Selasai */